<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>E-library</title>

    <!-- CSS  -->
    <link href="/css/material_icons.css" rel="stylesheet">
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="#ede7f6 deep-purple lighten-5">
<nav th:fragment="header" class="#303f9f indigo darken-2" role="navigation">
    <img style="position:absolute; left:130px;" width="65px" height="65px" class="brand-logo"
         src="/images/logo.png">
    <div style="position:relative;" class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">
        <div>E-library</div>
    </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#" data-activates="slide-out" style="display: block" class="button-collapse">Sorting</a>
            </li>
            <ul id='dropdown1' class='dropdown-content'>
                <li><a sec:authorize="hasAuthority('ADMIN')" href="/admin/debtors">View debtors</a></li>
                <li><a sec:authorize="hasAuthority('ADMIN')" href="/admin/viewBids">View order</a></li>
                <li><a sec:authorize="hasAuthority('ADMIN')" href="/admin/addBook">Add a new book</a></li>
            </ul>
            <li><a sec:authorize="hasAuthority('ADMIN')" class='dropdown-button' href='#' data-activates='dropdown1'>Administrator</a></li>
            <li><a sec:authorize="!isAuthenticated()" href="/login">Administrator</a></li>
            <li><a sec:authorize="isAuthenticated()" href="/logout">Logout</a></li>
            <i class="material-icons">input</i>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <ul id="slide-out" class="side-nav">
        <li>
            <div class="userView">
                <div class="background">
                    <img src="images/office.jpg">
                </div>
                <a href="javascript:"><img class="circle" src="images/logo.png"></a>
                <a href="javascript:"><span class="white-text name" th:text="${username}"></span></a>
                <a href="javascript:"><span class="white-text email" th:text="${email}"></span></a>
            </div>
        </li>
        <li><h6>Sort by name</h6></li>
        <li><a href="/?name=K&sort=bookName,asc" class="waves-effect">Ascending</a></li>
        <li><a href="/?name=K&sort=bookName,desc" class="waves-effect">Descending</a></li>
        <li><h6>Sort by author</h6></li>
        <li><a href="/?name=K&sort=authors,asc" class="waves-effect">Ascending</a></li>
        <li><a href="/?name=K&sort=authors,desc" class="waves-effect">Descending</a></li>
        <li><h6>Sort by UDC</h6></li>
        <li><a href="/?name=K&sort=udkCategory,asc" class="waves-effect">Ascending</a></li>
        <li><a href="/?name=K&sort=udkCategory,desc" class="waves-effect">Descending</a></li>
    </ul>
    <br/>
    <div class="container">

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Copy books</h4>
                <!--<p>A bunch of text</p>-->
                <form action="/admin/addBookCard" method="get" class="col s6">
                    <input type="hidden" name="bookId" id="modalBookId">
                    <div class="row">
                        <div class="col s12" id="bookCards">
                            <span>Hello</span>
                            <a class="offset-s2 btn-floating indigo darken-2">
                                <i class="tiny material-icons">mode_edit</i></a>
                        </div>
                        <div class="input-field col s12">
                            <input name="cardId" placeholder="Book number" type="text" class="validate">
                        </div>
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Add an instance
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <br><br>
        <h1 class="header center" th:text="${'Welcome to the library, ' + username}">Welcome to the library</h1>
        <div class="row center">
            <h5 class="header col s12 light">Our system will help you choose a good book for you!</h5>
        </div>
        <br><br>

        <div class="row">
            <form action="/" method="get" class="col s6">
                <div class="row">
                    <div class="input-field col s6">
                        <input name="search" placeholder="Name" type="text" class="validate">
                    </div>
                    <div class="input-field col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action" style="width: 100%;">Search by name
                            <i class="material-icons right">Search by title</i>
                        </button>
                    </div>
                </div>
            </form>
            <form action="/" method="get" class="col s6">
                <div class="row">
                    <div class="input-field col s6">
                        <input name="authorSearch" placeholder="Author" type="text" class="validate">
                    </div>
                    <div class="input-field col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action" style="width: 100%;">Search by author
                            <i class="material-icons right">Search by author</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div th:each="book,bookStat : ${books}" class="col s3">
            <div class="card" style="max-height: 350px;min-height: 350px; overflow-y: auto">
                <div style="padding: 15px" class="card-content valign center">
                    <span th:text="${book.bookName}" style="line-height: 15px;font-size: 18px"
                          class="center card-title activator grey-text text-darken-4"><i
                            class="material-icons right">more_vert</i></span>
                    <div class="card-image waves-effect waves-block waves-light">
                        <img style="height: 200px;width: 150px" class="valign center-block activator"
                             th:src="@{'uploads/' + ${book.imageName}}">
                    </div>
                    <!--<p th:text="${book.description}"></p>-->
                    <p><a onclick="alert('Order added. Read responses from the librarian-')" class="bidHref" th:href="@{/addBid(bookId=${book.bookId})}">Order a book</a></p>
                    <div class="row bidBooks">
                    <div class="col s12" th:each="bookCard,bookCardStat : ${book.bookCards}">
                    <p><a th:text="${bookCard.id}" th:href="@{/addBid(bookId=${bookCard.id})}"></a></p>
                    </div>
                    </div>
                    <a sec:authorize="hasAuthority('ADMIN')"
                       th:onclick="'javascript:openModal1(' + ${book.bookId} + ')'"
                       class="offset-s2 btn-floating indigo darken-2">
                        <i class="tiny material-icons">add</i>
                    </a>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="${'/admin/editBook/' + book.bookId}"
                       class="offset-s2 btn-floating indigo darken-2">
                        <i class="tiny material-icons">mode_edit</i>
                    </a>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="${'/admin/removeBook/' + book.bookId}"
                       class="offset-s2 btn-floating indigo darken-2">
                        <i class="tiny material-icons">delete</i>
                    </a>
                </div>
                <div class="card-reveal">
                <span style="line-height: 21px" class="valign center card-title grey-text text-darken-4"
                      th:text="${book.bookName}"><i
                        class="material-icons right">close</i></span>
                    <div>
                        <span class="materialize-red-text">The authors:</span>
                        <th:block th:each="author,authorStat : ${book.authors}">
                            <p th:text="${author.name} + ' ' + ${author.lastName} + ' ' + ${author.middleName}"></p>
                        </th:block>
                    </div>
                    <p>
                        <span class="materialize-red-text">Publisher:</span>
                        <span th:text="${book.publisher}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">UDC:</span>
                        <span th:text="${book.udkCategory.id} + ' ' + ${book.udkCategory.categoryName}">4: Other</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Year of publishing:</span>
                        <span th:text="${book.publishYear}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Number of pages:</span>
                        <span th:text="${book.pagesCount}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Edition:</span>
                        <span th:text="${book.publication}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">In stock:</span>
                        <th:block th:each="bookCard,bookCardStat : ${book.bookCards}">
                            <span th:text="${bookCard.id} + ', '"></span>
                        </th:block>
                    </p>

                    <p><span class="materialize-red-text">Description:</span>
                        <span th:text="${book.description}"></span></p>
                </div>
            </div>
        </div>
    </div>


</div>

<ul th:if="${books.totalPages>0}" class="center pagination">
    <li th:unless="${books.first}" th:classappend="${books.first} ? disabled : waves-effect">
        <a th:href="@{'/?page=' + ${books.number}}"><i class="material-icons">chevron_left</i></a></li>
    <li th:if="${books.first}" th:classappend="${books.first} ? disabled : waves-effect">
        <a href="javascript:"><i class="material-icons">chevron_left</i></a></li>
    <th:block th:each="i : ${#numbers.sequence(0,books.totalPages-1)}">
        <li th:classappend="${i eq books.number} ? active : waves-effect"><a th:text="${i+1}"
                                                                             th:href="@{'/?page=' + ${i+1}}"></a></li>
    </th:block>
    <li th:unless="${books.last}" th:classappend="${books.last} ? disabled : waves-effect"><a
            th:href="@{'/?page=' + ${books.number + 2}}"><i class="material-icons">chevron_right</i></a></li>
    <li th:if="${books.last}" th:classappend="${books.last} ? disabled : waves-effect"><a href="javascript:"><i
            class="material-icons">chevron_right</i></a></li>
</ul>

<footer th:replace="elements/footer :: footer"></footer>


<!--  Scripts-->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script src="js/main.js"></script>

<script>
    //    /admin/getBookCards/27
    //init the modal
    $('.modal-trigger').leanModal();


    function getCardElem(elem) {
        var html = '<span>' + elem.id + '</span>'+
            '<a href="admin/removeBookCard?cardId=' + elem.id + '"class="offset-s2 btn-floating indigo darken-2">' +
            '<i class="tiny material-icons">delete</i></a>';
        return html;
    }

    function openModal1(bookId) {
        $.ajax({
            url: '/admin/getBookCards/' + bookId,
            dataType: "json",
            success: function (data) {
                var html = "";
                $(data).each(function (index,elem) {
                    var htmlElement = getCardElem(elem);
                    console.log("1");
                    console.log(elem);
                    console.log(htmlElement);
                    html += htmlElement;
                });
                $("#bookCards").html(html);
                console.log(data);
            }
        });
        $('#modalBookId').val(bookId);

        $('#modal1').openModal();
    }
    ;


</script>


</body>
</html>
